body {
    background-color: #202028;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

canvas {
    border: 2px solid #fff;
    background-color: #000;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#next-piece-container {
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}
.np {
    margin: 3px 0px;
}